body {
  font-family: "Source Serif Pro:Regular";
  font-style: normal;
  font-size: 15px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.xs-column{
  flex: 25%;
}

.small-column {
  flex: 50%;
}

.large-column {
  flex: 75%;
}

.xs-column,
.small-column,
.large-column {
  padding: 0 16px;
}

.container {
  background-color: transparent;
  padding: 5px 20px 15px 20px;
  border: none;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.inForm-check{
  margin-left: 15px;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #EBCBAE;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;

  font-family: "Source Serif Pro:Regular";
  border-radius: 50px;
}

.btn:hover {
  background-color: gray;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

.checkout-content{
    display: grid;
    justify-content: start;
    grid-template-areas:
        "content menu";
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 5px;

    max-width: 1450px;

    width: 60%;
    background-color: #F5EAE2;
    border: none;
}

.checkout-content div.menu{
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    grid-area: menu;
    text-align: left;
}

.checkout-content div.content{
    display: flex;
    margin-top: 20px;
    gap: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    grid-area: content;
}

@media (max-width: 1450px) {
    .checkout-content{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "menu"
        "content";
        width: 80%;
        gap: 0px;
    }

    .checkout-content div.content{
      width: 100%;
      margin-top: none;
      gap: none;
    }

    .checkout-content div.menu{
      width: 100%;
    }
}

.cartBox {
  display: grid;
  grid-template-areas:
    "preview title"
    "preview aux";
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  background-color: white;
  border-radius: 50px;
  padding: 5px;

  width: 100%;
}
.cartBox div {
  padding: 10px;
}
.cartBox div.title {
  grid-area: title;
  text-align: center;
}
.cartBox div.preview {
  grid-area: preview;

  max-width: 330px;
  justify-content: center;
  align-items: center;
}
.cartBox div.aux {
  grid-area: aux;

  justify-content: center;
  text-align: center;  
}

.cart-title{
  font-size: 1.5em;
  line-height: 1.5em;
}

.cart-title.smallText{
  font-size: 1em;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .xs-column {
    margin-bottom: 20px;
  }
}

@font-face {
    font-family: "Source Serif Pro:Regular";
    font-style: normal;
    src: url(fonts/sourcesf2.woff2);
    font-display: block;
    unicode-range: U +0000 -00A0, U +00A2 -00A9, U +00AC -00AE, U +00B0 -00B7, U +00B9 -00BA, U +00BC -00BE, U +00D7, U +00F7, U +2000 -206F, U +2074, U +20AC, U +2122, U +2190 -21BB, U +2212, U +2215, U + F8FF, U + FEFF, U + FFFD;
}

@font-face {
    font-family: "Source Serif Pro:Italic";
    font-style: italic;
    src: url(fonts/sourcesf2it.woff2);
    font-display: block;
    unicode-range: U +0000 -00A0, U +00A2 -00A9, U +00AC -00AE, U +00B0 -00B7, U +00B9 -00BA, U +00BC -00BE, U +00D7, U +00F7, U +2000 -206F, U +2074, U +20AC, U +2122, U +2190 -21BB, U +2212, U +2215, U + F8FF, U + FEFF, U + FFFD;
}