.homepage-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 578px;
    background-color: #EBCBAE;
    border: none;
}

.homepage-sub{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "imgContainer textContainer";

    width: 100%;
    height: 296px;
    background-color: #F0E0D4;
    border: none;
}

.homepage-sub div.imgContainer{
    display: flex;
    height: 296px;
    border: none;
    align-items: flex-start;

    grid-area: imgContainer;
}

.homepage-sub div.textContainer{
    display: flex;
    width: auto;
    max-height: 296px;
    border: none;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;

    padding: 20px;

    grid-area: textContainer;
}

.homepage-sub.style1{
    background-color: #F0E0D4;
}

.homepage-sub.style2{
    background-color: #F5EAE2;
}

.homepage-sub.style3{
    background-color: #F5EAE2;
}

.homepage-sub.style4{
    background-color: #F0E0D4;
}

.hero{
    width: 60vw;
    max-width: 534px;
    max-height: 300px;
}

.section-img{

    height: 100%;
    width: auto;
}

.x-button {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
} 

@media (max-width: 1450px){
    .section-img{
        object-fit: cover;
        object-position: right;
        width: 40vw;
    }
}

@media (max-width: 576px){
    .x-button{
        padding: 10px 20px;
    }
    .section-header{
        font-size: 2em;
    }
    .section-header.sub1{
        font-size: 22px;
    }

    .homepage-top{
        height: 420px;
    }
}