.store-content{
    display: grid;
    justify-content: start;
    grid-template-areas:
        "menu content";
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    padding: 5px;

    width: 60%;
    background-color: #F5EAE2;
    border: none;
}

.store-content div.menu{
    grid-area: menu;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.store-content div.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: center;
    grid-area: content;
}

.product{
    width: 270px;
    height: 401px;
    display: grid;

    grid-template-areas:
        "image image"
        "product-text price"
        "button button";

    grid-template-columns: 2fr 2fr;

    gap: 0px;
    padding: 0px;

    border-radius: 50px;

}

.product div.image{
    grid-area: image;
    grid-column: span 2;

    display: flex;
    justify-content: center;
    align-items: center;

    max-height: 273px;
    
}

.product div.product-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    grid-area: product-text;
}

.product div.price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    margin-right: 20px;

    grid-area: price;
}

.product div.button{
    display: flex;

    width: 100%;
    height: 100%;
    justify-content: center;
    grid-area: button;
}

.filter-text{
    font-family: "Source Serif Pro:Regular", sans-serif;
    font-style: regular;
}

.filter-text.header{
    font-size: 20px;
}

.filter-text.header2{
    font-size: 27px;
}

.preview-text{
    font-family: "Source Serif Pro:Regular", sans-serif;
    font-style: regular;
    font-size: 30px;
    
    margin-left: 20px;
}

.preview-text.price{
    text-align: right;
}

.preview-text.subheader{
    color: gray;
    font-size: 12px;
}

.product-image{
    width: 100%;
    max-width: 270px;
    
    max-height: 273px;
}

.filter-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 2em;

    border-radius: 50px;

    background-color: white;
}

.mobile-filters{
    display: none;
    grid-template-columns: 1fr;
    grid-template-areas: "search dropdown";

    width: 90%
}

.mobile-filters div.search{
    grid-area: search;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mobile-filters div.dropdown{
    grid-area: dropdown;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.large-input{
    width: 90%;
    height: 100%;
    padding: 0px 10px 0px 10px;

    border: 1px solid black;

    min-height: 35px;

    border-radius: 50px;
}

.mobile-dropdown {
  position: relative;
  display: inline-block;
}

.mobile-dropdown-content {
    display: none;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em;

    border-radius: 50px;
    background-color: white;
    position: absolute;

    min-width: 160px;

    right: 0;
    left: auto;
}

.store-dropbtn {
    background: none;
    color: black;

    border-radius: 50px;
    border: 1px solid black;

    padding: 16px;
    font-size: 16px;
}

.mobile-dropdown:hover .mobile-dropdown-content {display: flex;}


@media (max-width: 1450px){
    .store-content{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: "menu" "content";
    }
    .store-content div.menu{
        align-items: center;
        justify-content: center;
    }

    .store-content div.content{
        grid-template-columns: repeat(auto-fit, 270px);
    }

    .preview-text{
        font-size: 16px;
    }

    .preview-text.subheader{
        font-size: 10px;
    }

    .mobile-filters{
        display: grid;
    }

    .filter-container{
        display: none;
    }
}

@media (max-width: 576px){
    .product{
        width: 45vw;
        max-width: 270px;

        height: calc(45vw*1.48);
        max-height: 401px;
    }
    
    .product-image{
        width: 100%;
        max-width: 175px;
        
        max-height: 185px;
    }

    .store-content div.content{
        grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
    }
}